<!DOCTYPE html>
<html lang="en" xmlns:th="http:\\thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<!--Шапка-->
<div class="nav navbar bg-dark text-white">
    <div class="nav-item">
        <div>
            <span sec:authentication="name" class="font-weight-bold"/> with roles:
            <span th:each="grantedAuthority : ${#authentication.principal.getAuthorities()}">
                <span th:text="${grantedAuthority.getAuthority()}"/>
            </span>
        </div>
    </div>
    <div class="nav-item">
        <a class="nav-link text-muted" th:href="@{/logout}">Logout</a>
    </div>
</div>
<!--Основная часть:-->
<div class="row min-vh-100">
    <!--Колонка с ролями-->
    <div class="col-md-2 mt-md-3">
        <ul class="nav flex-column nav-pills">

                 <a class="nav-link active" aria-current="page" th:href="@{/admin}">Admin</a>
                <a class="nav-link" th:href="@{/user}">User</a>

        </ul>
    </div>


    <!--Основная часть страницы-->
    <div class="col-md-10 bg-light vh-100">
        <h2 class="mt-md-3 mb-md-3">Admin panel</h2>
        <div class="mr-md-4">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" id="usersTableNav" onclick="showAll()">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="newUserNav" onclick="newUser()">New user</a>
                </li>
            </ul>
            <div class="card" id="basicSpace"></div>

        </div>
    </div>
</div>
</div>

<!--MODAL WINDOW-->
<div id="modalWindow"></div>
<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script th:src="@{js/user.js}"></script>

</body>
</html>