<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>admin</title>
</head>
<body style="background-color: #f4f4f4">
<nav class="navbar navbar-dark  bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
        <p class="navbar-text text-white bg-dark"><span sec:authentication="name"/> with roles: <span
                sec:authentication="principal.authorities"></span></p>
    </a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>


<div class="container-fluid ">
    <div class="row min-vh-100">
        <div class="col-3" style="background-color: white">
            <nav>
                <div class="nav nav-pills flex-column mt-3" id="nav-tab-p" role="tablist">
                    <a class="nav-item nav-link active " id="nav-home-tab-p" data-toggle="tab" href="#nav-home-p"
                       role="tab" aria-controls="nav-home" aria-selected="true">
                        Admin
                    </a>
                    <a class="nav-item nav-link  " id="nav-profile-tab-p"
                       data-toggle="tab" href="/user" role="tab"
                       aria-controls="nav-profile" aria-selected="false">
                        User
                    </a>
                </div>
            </nav>
        </div>


        <div class="col mt-3">
            <div class="tab-content" id="nav-tabContent-p">
                <div class="tab-pane fade show active " id="nav-home-p" role="tabpanel"
                     aria-labelledby="nav-home-tab-p">
                    <h1>Admin panel</h1>

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active border" id="nav-home-tab" data-toggle="tab"
                               href="/user"
                               role="tab" aria-controls="nav-home" aria-selected="true">
                                Users table
                            </a>
                            <a class="nav-item nav-link  border" id="nav-profile-tab" data-toggle="tab"
                               href="/admin/addNewUser" role="tab"
                               aria-controls="nav-profile" aria-selected="false">
                                New user
                            </a>
                        </div>
                    </nav>
                    <div class="row border rounded " style="background-color: white">
                        <div class="container m-3">
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <form action="#" th:action="@{/admin/addNewUser}" method="post">
                                        <div class="form-group text-center">
                                            <label for="firstName"><b>First Name</b></label>
                                            <input type="text" class="form-control" id="firstName"
                                                   name="firstname">
                                            <label for="lastname"><b>Last Name</b></label>
                                            <input type="text" class="form-control" id="lastname"
                                                   name="lastname">
                                            <label for="age"><b>Age</b></label>
                                            <input type="text" class="form-control" id="age" name="age">

                                            <label for="address"><b>Address</b></label>
                                            <input type="text" class="form-control" id="address"
                                                   name="address">

                                            <label for="password"><b>Password</b></label>
                                            <input type="text" class="form-control" id="password"
                                                   name="password">

                                            <div class='form-group text-center'>
                                                <label><b>Role</b></label>
                                                <div>
                                                    <label>
                                                        <select multiple required size="2" th:name="roles"
                                                                th:field="*{roles}">
                                                            <option th:each="role : ${roles}" th:value="${role}"
                                                                    th:text="${role}"></option>
                                                        </select>
                                                    </label>
                                                </div>
                                                <div class="form-group text-center">
                                                    <button id='addSubmit' type='submit'
                                                            class='btn btn-success btn-lg'>Add new user
                                                    </button>

                                                </div>

                                                <div class="tab-pane fade border rounded" id="nav-profile"
                                                     role="tabpanel"
                                                     aria-labelledby="nav-profile-tab">
                                                    <div class="container ">
                                                        <div class="row border rounded" style="height: 50px">
                                                            <div class="d-flex align-items-center ml-4"
                                                                 style="font-size: 30px">
                                                                Add new user
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

